.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url('../public/IMG_8523.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.Profile-picture {
  height: 19vh;
  width: 10vw;
}
 
.Bio {
  height: fit-content;
  width: fit-content;
  max-width: 30vw;
  max-height: 63vh;
  font-size: 20px;
  padding: 60px;
  margin: 100px;
  color: black;
  background-color: rgba(255, 255, 255, 0.86);
}

.Contacts{ 
  border-top: 2px solid #00000060;
}

